body {
    padding-top: 50px;
    padding: 10px;
    padding-bottom: 60px; /* Height of the footer */
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.content-wrapper {
    min-height: 100%;
    background: #e0e0e0;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.trackList {
    display: none;
}

td > .progress {
    margin-bottom: 0px;
}

.trackList td,
.trackList .progress-bar {
    font-size: 0.8em;
}

.trackList .progress {
    height: 15px;
}

.download-spotify:hover,
.update-spotify:hover,
.clickable-link:hover {
    cursor: pointer; cursor: hand;
}


.artist-table {
}

.artist-table > tbody > tr > td {
    vertical-align:middle;
}

td.last-updated {
    width: 150px;
    font-size:80%;
    color:#999;
    vertical-align:middle;
}