@model SpotifyMetadata.Page<DomainModel.Artist>

<h2>Artistas descargados</h2>
<div class="single">
    @if (Model.Items.Count() == 0)
    {
        <div class="jumbotron">
            @if (ViewData["search"] != null && (bool)ViewData["search"] == false)
            {
                <p>Todavía no descargas la información de ningún artista</p>
                <p>Empieza por buscar uno</p>
            }
            else
            {
                <p>No has descargado nada que coincida con tu búsqueda</p>
            }
        </div>
    }
    else
    {
        <div id="artists-downloaded-div">
            @{
                ViewData.Add("parentDiv", "artists-downloaded-div");
                Html.RenderPartial("_ArtistsDownloadedTable", Model, ViewData);
            }
        </div>
    }
</div>