@model SpotifyMetadata.Page<DomainModel.Artist>
<h2>Artistas online</h2>
<div class="single">
    @if (Model.Items.Count() == 0)
    {
        <div class="jumbotron">
            @if (ViewData["downloadedN"] != null && (int)ViewData["downloadedN"] == 0)
            {
                <p>No encontramos nada en Spotify tampoco :(</p>
                <p>Inténtalo de nuevo</p>
            }
            else
            {
                <p>No encontramos nada en Spotify que ya no tengas descargado</p>
                <p>Recuerda que puedes actualizar la información de los artistas que ya descargaste</p>
            }
        </div>
    }
    else
    {
        <div id="artists-spotify-div">
            @{
                if (Model.OutOfBounds)
                {
                    <div class="alert alert-warning alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong>Ojo!</strong> No tenemos tantos resultados como para llegar a la página @Model.CurrentPage, así que te mostramos la última página :)
                    </div>
                }
                ViewData.Add("parentDiv", "artists-spotify-div");
                ViewData.Add("searchType", "spotify");
                Html.RenderPartial("_ArtistsSpotifyTable", Model, ViewData);
            }
        </div>
                }
</div>