@model IEnumerable<DomainModel.Track>

<table class="table table-condensed">
    <tr>
        <th>
            #
        </th>
        <th>
            Canción
        </th>
        <th>
            Popularidad
        </th>
        <th>
            Duración
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @String.Format("{0:00}",item.TrackNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Popularity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DurationStringMMSS)
        </td>
    </tr>
}

</table>
