@model DomainModel.Artist

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>

<p>
    @Html.ActionLink("Actualizar", "Update", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@foreach (var album in Model.Albums)
{
    Html.RenderPartial("_AlbumDetail", album);
}