<?xml version="1.0" encoding="utf-8" ?>
<!--

Ingresar el client ID y client secret
Luego renombrar este archivo como "keys.config"

-->
<apiKeys>
  <!--Poner el Client ID que entrega Spotify aquí-->
  <add key="SpotifyClientId" value="" />

  <!--Poner el Client Secret que entrega Spotify aquí-->
  <add key="SpotifyClientSecret" value="" />
</apiKeys>